.btn_rounded:active {
  opacity: 0.8;
}
.btn_rounded_vertical_stripe {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  background-color: var(--black);
  width: 10px;
}
.fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--red-lighten);
  border-radius: 50px;
  height: 100%; 
}