.systems_tab_container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
}
.systems_tab_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.systems_radial_bar_right {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--blue);
  color: var(--cream);
  width: 100%;
  padding: 0.4rem 0;
  text-align: right;
  margin-bottom: 2rem;
}
.systems_radial_bar_left {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: var(--blue);
  color: var(--cream);
  width: 100%;
  padding: 0.4rem 0;
  text-align: right;
  margin-bottom: 2rem;
  margin-right: 0.4rem;
}
.systems_radial_bar_text {
  font-size: 3rem;
  padding: 1rem;
}
