.corner_container {
  position: relative;
  width: 100%;
}
.corner_top {
  background-color: var(--tan);
  width: 100%;
  clip-path: url(#barTopCurve);
}
.corner_top_reversed {
  background-color: var(--yellow);
  width: 100%;
  clip-path: url(#barTopCurve);
  transform: rotateY(180deg); 
}
.corner_vertical_bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4.4rem;
  left: 0;
  height: 83%;
  width: 20%;
}
.corner_vertical_bar_fill {
  background-color: var(--tan);
  flex-grow: 1;
}
.corner_vertical_bar_reversed {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4.4rem;
  right: 0;
  height: 83%;
  width: 20%;
}
.corner_vertical_bar_reversed_fill {
  background-color: var(--yellow);
  flex-grow: 1;
}