.App {
  display: flex;
  flex-direction: column;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.content {
  display: flex;
  flex: 1 0 auto;
  height: 75%;
}

.bar {
  display: flex;
  height: 10em;
  background: var(--yellow);
  padding-left: 2rem;
}

.inputs_container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 6rem;
  font-size: 2rem;
}
.inputs_container input {
  border:none;
  padding: 0.5rem;
  margin: 0 8px;
  border-radius: 20px;
  outline: none;
  font-family: 'Context_Ultra_Condensed';
  font-size: 1.6rem;
  background-color: var(--cream);
}

.box_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 15vw;
}
.box_left_top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  margin-top: 4px;
}
.box_left_top div {
  margin-bottom: 4px;
}

.box_left_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
}
.box_left_bottom div {
  margin-bottom: 4px;
}

.box_right {
  width: 85%;
  padding: 0 8px;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  grid-gap: 10px;
}

.tab_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}